<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xifeng.kuandai.mapper.InformationMapper" >
  <resultMap id="BaseResultMap" type="com.xifeng.kuandai.dto.Information" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="kuandaiNo" property="kuandaiNo" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="KDAddr" property="KDAddr" jdbcType="VARCHAR" />
    <result column="begainDate" property="begainDate" jdbcType="VARCHAR" />
    <result column="endDate" property="endDate" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, telphone, kuandaiNo, address, KDAddr, begainDate, endDate, remark
  </sql>
  <sql id="sqlwhere">
    <where>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="telphone != null" >
        and telphone = #{telphone,jdbcType=VARCHAR}
      </if>
      <if test="kuandaiNo != null" >
        and kuandaiNo = #{kuandaiNo,jdbcType=VARCHAR}
      </if>
      <if test="address != null" >
        and address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="KDAddr != null" >
        and KDAddr = #{KDAddr,jdbcType=VARCHAR}
      </if>
      <if test="begainDate != null" >
        and begainDate = #{begainDate,jdbcType=VARCHAR}
      </if>
      <if test="endDate != null" >
        and endDate = #{endDate,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="queryInformation" parameterType="com.xifeng.kuandai.dto.Information" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from Information
    <include refid="sqlwhere"/>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xifeng.kuandai.dto.Information" >
    insert into Information (id, name, telphone, 
      kuandaiNo, address, KDAddr, 
      begainDate, endDate, remark
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, 
      #{kuandaiNo,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{KDAddr,jdbcType=VARCHAR},
      #{begainDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xifeng.kuandai.dto.Information" >
    insert into Information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="kuandaiNo != null" >
        kuandaiNo,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="KDAddr != null" >
        KDAddr,
      </if>
      <if test="begainDate != null" >
        begainDate,
      </if>
      <if test="endDate != null" >
        endDate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="kuandaiNo != null" >
        #{kuandaiNo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="KDAddr != null" >
        #{KDAddr,jdbcType=VARCHAR},
      </if>
      <if test="begainDate != null" >
        #{begainDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xifeng.kuandai.dto.Information" >
    update Information
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="kuandaiNo != null" >
        kuandaiNo = #{kuandaiNo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="KDAddr != null" >
        KDAddr = #{KDAddr,jdbcType=VARCHAR},
      </if>
      <if test="begainDate != null" >
        begainDate = #{begainDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        endDate = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xifeng.kuandai.dto.Information" >
    update Information
    set name = #{name,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      kuandaiNo = #{kuandaiNo,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      KDAddr = #{KDAddr,jdbcType=VARCHAR},
      begainDate = #{begainDate,jdbcType=VARCHAR},
      endDate = #{endDate,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>